<html>
<head>
    <title>Contact List</title>
</head>
<body>
    <h1>Contact List</h1>

    {% if contacts is not empty %}
        <p>Here are your contacts:</p>
        <ul>
        {% for contact in contacts %}
            <li>{{ contact.getName }}</li>
            <li>{{ contact.getPhone_Number }}</li>
            <li>{{ contact.getAddress }}</li>
        {% endfor %}
            </ul>
    {% endif %}

    <form action='/view_contacts' method='post'>
            <label for='name'>Contact Name</label>
            <input id='name' name='name' type='text'>

            <label for='phone_number'>Contact Phone</label>
            <input id='phone_number' name='phone_number' type='number'>

            <label for='address'>Contact Address</label>
            <input id='address' name='address' type='text'>

            <button type='submit'>Add task</button>
    </form>
    
<br>

	<form action='/delete_contacts' method='post'>
        <button type='submit'>delete</button>
    </form>

</body>
</html>