<html>
<head>
    <title>List of Contacts</title>
</head>
<body>
    <h1>You created a contact!</h1>
    <p>{{ newcontact.getName }}</p>
    <p>{{ newcontact.getPhone_Number }}</p>
    <p>{{ newcontact.getAddress }}</p>
    <p><a href='/'>View your list of contacts.</a></p>
</body>
</html>